

#section1{

 /* padding-top: 20px;
  background-color: #A9E2F3;*/


}

.jumbotron{
  background-color: rgba(255,255,255,.0);
  height:100%;
  color: black;
}

#main_pic{
  border-radius: 100%;
}


#section2{

  /*background-color: white;*/
  color: white;
  background-image: url('../images/rushrhees.jpg');
  background-repeat:no-repeat;
  background-position: bottom;
  background-attachment:fixed;
  background-size: 100% 100%;
}

.backed-text{
  background-color: rgba(0,0,0,.6);
  border-radius: 8px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;

}

.backed-text p{
  font-size: 15pt;
}

#section3 p{
  font-size: 15pt;
}


.center {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

}

i {
    text-align:center;


}

.vertical-padding{
  padding-top: 40px;
  padding-bottom: 70px;
}

.bubble{


}
