html, body{
  width:100%;
}

.center-margins{

}

.blue-bar{
  background-color: rgba(169, 226, 243, .6);
  width:100%;

  box-shadow: inset 0 5px 10px rgba(0,0,0,.05),inset 0px -5px 10px rgba(0,0,0,.05);
}

.right-padding{
  margin-left:-40px;
  margin-right: 60px;
}

h1{
  margin-top:0;
  padding-top: 20px;
}

.my-well{
  background-color: rgba(255, 255, 255, 1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);

  min-height: 20px;
padding: 19px;
margin-bottom: 20px;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


#section1{

 /* padding-top: 20px;
  background-color: #A9E2F3;*/


}
#landing h1{

  font-size: 63px;
  color: black;


}
#landing p{
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
#landing{
  /*padding-top: 25px;
  padding-right: 60px;
  padding-left: 60px;*/
  width:100%;
}


.jumbotron{
  background-color: rgba(255,255,255,.0);
  background-color: rgba(169, 226, 243, .7);
  height:100%;
  color: black;
}

#main_pic{
  border-radius: 100%;
}


#section2{

  /*background-color: white;*/
  color: white;
  background-image: url('../images/rushrhees.jpg');
  background-repeat:no-repeat;
  background-position: bottom;
  background-attachment:fixed;
  background-size: 100% 100%;
}

.backed-text{
  background-color: rgba(0,0,0,.6);
  border-radius: 8px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;

}

.backed-text-light{
  background-color: rgba(255,255,255,.6);
  border-radius: 8px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;

}

.backed-text p{
  font-size: 15pt;
}

#section3 p{
  font-size: 15pt;
}
.row{
  margin-left: 0;
  margin-right: 0;
}

.well{
  background-color: rgba(255,255,255,.6);
}


.center {
    display: inline-block;
    width: 125px;
    background-color: white;
    border-radius: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-color: black;
    border-style: solid;
    border-width: 2px;


}

i {
    text-align:center;


}

.vertical-padding{
  padding-top: 40px;
  padding-bottom: 70px;
}
.bottom-padding{
  padding-bottom:20px;
}

.bubble{
  padding-right: 25px;
  padding-left: 25px;

}
